<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @for(project of (projects$ | async); track project.uid) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{project.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Fecha de inicio: {{project.startDate | date: 'dd/MM/yyyy'}}</p>
        <p>Fecha final: {{project.endDate | date: 'dd/MM/yyyy'}}</p>
        <p class="text-ellipsis">{{project.description}}</p>
      </ion-card-content>
    </ion-card>
  } @empty {
    <p>No hay proyectos</p>
  }
</ion-content>
