<ion-content [fullscreen]="true" class="container">
<div class="form-container">
	<p class="title">Acceso</p>
	<form class="form" [formGroup]="authForm" (ngSubmit)="submit()" novalidate>
    <div class="input-group">
      <ion-input formControlName="email" label="Correo electrónico" label-placement="stacked" fill="outline" placeholder="Correo electrónico" autocomplete="false"
      [errorText]="authForm.get('email')?.hasError('email') ? 'El correo electrónico no es valido' : 'El correo electrónico es requerido'"/>
    </div>
		<div class="input-group">
      <ion-input formControlName="password" type="password" label="Contraseña" label-placement="stacked" fill="outline" placeholder="Contraseña" autocomplete="false"
      errorText="La contraseña es requerida">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </div>
		<ion-button expand="block" type="submit">Iniciar sesion</ion-button>
	</form>
	<div class="social-message">
		<div class="line"></div>	
	</div>
	<p class="signup">¿No tienes una cuenta?
		<a rel="noopener noreferrer" [routerLink]="['/register']">Registrate</a>
	</p>
</div>
</ion-content>
