<ion-content [fullscreen]="true" class="container">
<div class="form-container">
	<p class="title">Acceso</p>
	<form class="form">
    <div class="input-group">
      <ion-input label="Correo electrónico" label-placement="floating" fill="outline" placeholder="Correo electrónico" autocomplete="false" />
    </div>
		<div class="input-group">
      <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Contraseña" autocomplete="false" />
		</div>
		<ion-button expand="block">Iniciar sesion</ion-button>
	</form>
	<div class="social-message">
		<div class="line"></div>	
	</div>
	<p class="signup">¿No tienes una cuenta?
		<a rel="noopener noreferrer" [routerLink]="['/register']">Registrate</a>
	</p>
</div>
</ion-content>
