.flex {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.flex-row {
  display: flex;
  gap: 10px;
}

.tasks {
  border: 1px solid #ccc;
  border-radius: 7px;
}

.card-buttons {
  display: flex;
  justify-content: end;
}

ion-grid {
  --ion-grid-padding: 20px;
}