.form-container {
  width: 100%;
  border-radius: 0.75rem;
  padding: 1rem;
}

ion-button {
  margin-top: 2.25rem;
}

.input-group {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}